body{
    font-family : 'Berlin Sans FB', 'Trebuchet MS', Arial;
    border:1px solid #424580;
}
.size40{
    font-size:40px;
}
.size20{
    font-size:20px;
}
.colorBlueDark{
    color:#283645;
}
.colorBlueLight{
    color:#1490D7;
}
.colorOrange{
    color:#FF8000;
}
.colorWhite{
    color:white;
}
.text-center{
    text-align: center;
}
.bg-colorDark{
    background-color: #08080f;
}
.bg-colorBlueLight{
    background-color:#1490D7;
}
h2{
    padding:0px;
    margin:30px 0px;
}
.borderBottomDark{
    border-bottom:1px solid #283645;
}
.gauche{
    float:left;
}
.clear{
    clear:both;
}


/*******
** Header
*****/
.header{
    display:flex;
    align-items: center;
    text-align:center;
}

.header .photoPerso, .header .infoPerso{
    width:33.3%;
}
.header .photoPerso img{
    height:200px;
}
.header .posteRecherche{
    flex:auto;
}
/*******
** FIN Header
*****/

@media (max-width: 768px){
    .size40{
        font-size:22px;
    }
    .size20{
        font-size:14px;
    }
    .header .photoPerso img{
        height:100px;
    }
    .col1{
        width:30%;
    }
    .col2{
        width:70%;
    }
}
@media (max-width:1300px){
    .col1{
        width:35%;
    }
    .col2{
        width:65%;
    }
}